.content
{
  margin-left: 1rem;
  font-family: 'Monteserrat', sans-serif;  
}

tr
{
    height: 1.6rem;
}

td
{
    width: 20rem;
}

input
{
    color:#F97C00;
    font-weight: bold;
}

.ProfileName
{
    font-size: 2.5rem;
    font-weight: bold;
    color:#F97C00;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.LabelHeader
{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.LabelTag
{
    color:#F97C00;
    font-weight: bold;
}
