.gameViewHolder {
    width: 100%;
    height: 85vh;
    display: flex;
}

.gamePromotionSide{
    flex: 10% 0 0;
    height: 85vh;
    display: flex;
}

.gameSide {
    flex: 65% 0 0;
    height: 85vh;
}

.gameControlSide {
    flex: 25% 0 0;
    height: 85vh;
}

.gameControlHolder {
    display: flex;
    height: 85vh;
    flex-direction: column;
}

.surrenderButtonHolder {
    flex: 10%;
    height: 8.5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatHolder {
    flex: 90%;
    background-color: aqua;
    height: 76.5vh;
}

.PopUp {
    border: #e07000 solid 0.3rem;
    border-radius: 0.3rem;
    background-color: #00004b;
    padding: 0.5rem;
  }
  
  .PopUp p {
    color: white;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  
  .PopUp button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }