.LoginTable{
    width: 27%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Monteserrat', sans-serif;  
}

.GoogleIcon{
    height: 3rem;
    content: url("./GoogleLogo.svg");
    background-color: white;
    border-radius: 15%;
    padding: 3%;
}

.LoginTable td{
    text-align: center;
}