.board {
    padding: 1rem;
    margin: 0 auto; /** centered */
    margin-top: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 5px 5px #e9e7e7;
    width: calc(100vh * 0.9);
    height: calc(100vh * 0.85);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: burlywood;
}

div.white{
    background-color: white;
}

div.black{
    background-color: black;
    color: white;
}

.white .PieceType[value="p"] ~ .PieceImg {
    content:url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Chess_plt45.svg/800px-Chess_plt45.svg.png);
    max-width:100%;
    max-height:100%;
}