.header{
    height: calc(100vh * 0.1);
    display: flex;
    align-items:flex-end;
}

.logo{
    height: calc(100vh * 0.1);
    content:url("./logo.svg");
}

.button{
    margin-bottom:calc(100vh * 0.01);
    cursor: pointer;
}

.loginButton{
    margin-left: auto;
    margin-right: 1rem;
}